<div class="login_wrapper">
    <div class="p-grid p-nogutter">
        <div class="p-col-12 p-md-5 p-lg-5">
            <div class="login">
                <div class="p-grid p-nogutter">
                    <div class="p-col-12">
                        <div class="heading">
                            <h1>Change Password</h1>
                        </div>
                    </div>
                    <div class="p-col-12">
                        <form [formGroup]="formsGroup">
                            <div class="p-fluid">
                                <div class="p-field">
                                    <label for="oldPassword" class="p-col-12 p-px-0 p-mb-0">Old Password</label>
                                    <div class="p-col-12 p-p-0 p-mb-0">
                                        <div class="show_hide">
                                            <div class="p-inputgroup">
                                                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                                                <input id="oldPassword" [type]="showoldPassword?'text':'password'"
                                                    pInputText formControlName="oldPassword"
                                                    (blur)="checkOldPassword($event)">
                                            </div>
                                            <p-message-error class="errMsg" text="Message Content"
                                                *ngIf="showoldPasswordErrorMsg">{{oldPasswordinError}}</p-message-error>
                                            <div class="show_hide_icon">
                                                <a *ngIf="!showoldPassword" href="javascript:void(0)"
                                                    (click)="showOldPassword()"><i class="pi pi-eye"></i></a>
                                                <a *ngIf="showoldPassword" href="javascript:void(0)"
                                                    (click)="hideOldPassword()"><i class="pi pi-eye-slash"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="p-field">
                                    <label for="newPasswod" class="p-col-12 p-px-0 p-mb-0">New Password</label>
                                    <div class="p-col-12 p-p-0 p-mb-0">
                                        <div class="show_hide">
                                            <div class="p-inputgroup">
                                                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                                                <input id="newPasswod" [type]="shownewPassword?'text':'password'"
                                                    pInputText formControlName="newPasswod"
                                                    (blur)="checkNewPassword($event)">
                                            </div>
                                            <div class="show_hide_icon">
                                                <a *ngIf="!shownewPassword" href="javascript:void(0)"
                                                    (click)="showNewPassword()"><i class="pi pi-eye"></i></a>
                                                <a *ngIf="shownewPassword" href="javascript:void(0)"
                                                    (click)="hideNewPassword()"><i class="pi pi-eye-slash"></i></a>
                                            </div>
                                            <p-message-error class="errMsg" text="Message Content"
                                                *ngIf="shownewPasswordErrorMsg">{{newPasswordinError}}</p-message-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-field">
                                    <label for="confirmPassword" class="p-col-12 p-px-0 p-mb-0">Confirm Password</label>
                                    <div class="p-col-12 p-p-0 p-mb-0">
                                        <div class="show_hide">
                                            <div class="p-inputgroup">
                                                <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                                                <input id="confirmPassword"
                                                    [type]="showconfirmPassword?'text':'password'" pInputText
                                                    formControlName="confirmPassword"
                                                    (blur)="checkConfirmPassword($event)">
                                            </div>
                                            <div class="show_hide_icon">
                                                <a *ngIf="!showconfirmPassword" href="javascript:void(0)"
                                                    (click)="showConfirmPassword()"><i class="pi pi-eye"></i></a>
                                                <a *ngIf="showconfirmPassword" href="javascript:void(0)"
                                                    (click)="hideConfirmPassword()"><i class="pi pi-eye-slash"></i></a>
                                            </div>
                                            <p-message-error class="errMsg" text="Message Content"
                                                *ngIf="showconfirmPasswordErrorMsg">{{confirmPasswordinError}}
                                            </p-message-error>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-md-12" style="text-align:center;">
                                    <button pButton  label="Save" class="btn-signin" (click)="ChangePassword()"
                                    [disabled]="isEnabled==false"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>