::ng-deep .customer-modal{
    .p-dialog-content{
        padding: 0px 25px 20px !important;
    }
}
.customer-box{
    min-height: 300px;
}
.d-block{
    display: block;
}
.errMsg{
    color: red;
}
