<div class="job-manage" *ngIf="!AddPatient">
    <div class="step-box">
        <ul class="step-form">
            <li [ngClass]="{'active': stepForm >= 1 }"><span>1</span> Job Info</li>
            <li [ngClass]="{'active': stepForm >= 2}"><span>2</span> Service Skills</li>
            <li [ngClass]="{'active': stepForm >= 3}"><span>3</span> Clinical Procedures</li>
            <li [ngClass]="{'active': stepForm >= 4}"><span>4</span> Equipment</li>
            <li *ngIf="jobApprovalView" [ngClass]="{'active': stepForm >= 5}"><span>5</span> Job Summary</li>
        </ul>
    </div>


    <div class="main-box" *ngIf="stepForm === 1">
        <form [formGroup]="jobManageForm" (ngSubmit)="onSubmitJobManage()">
            <div class="p-grid p-nogutter">
                <div class="p-md-4 p-pt-3">
                    <label>Job Start Date<sup>*</sup></label>
                    <p-calendar [ngModelOptions]="{standalone: true}" dateFormat="dd-mm-yy" formControlName="dJobDate"
                        [showIcon]="true" placeholder="Select Date"></p-calendar>
                </div>
                <div class="p-md-4 p-pt-3">
                    <label>Job End Date</label>
                    <p-calendar [ngModelOptions]="{standalone: true}" dateFormat="dd-mm-yy" formControlName="dJobSrvEnd"
                        [minDate]="jobManageForm.get('dJobDate').value" [showIcon]="true"
                        placeholder="Select Date"></p-calendar>
                </div>
                <div class="p-md-4 p-pt-3">
                    <label>Services<sup>*</sup></label>
                    <p-dropdown appendTo="body" #nSrvid placeholder="Select Service" [options]="serviceData"
                        optionLabel="txt" formControlName="srvName" optionValue="val"
                        (onChange)="selectService($event, nSrvid)"></p-dropdown>
                </div>
                <div class="p-md-3 p-pt-3">
                    <label>Billing Mode<sup>*</sup></label>
                    <p-dropdown appendTo="body" #bm placeholder="Select Billing Mode" [options]="billingModeFilterData"
                        [disabled]="billingModeDisable" optionLabel="codeName" formControlName="nBillMode"
                        optionValue="serialNo" (onChange)="selectBillMode($event, bm)"></p-dropdown>
                </div>
                <div class="p-md-3 p-pt-3">
                    <label>Package</label>
                    <p-dropdown appendTo="body" #pkg placeholder="Select Package" [options]="packageData"
                        optionLabel="cPackageNm" formControlName="nPackId" optionValue="nPackid"
                        (onChange)="selectPackage($event, pkg)"></p-dropdown>
                </div>
                <div class="p-md-3 p-pt-3">
                    <label>Rate<sup *ngIf="!isDisableProcesurItem">*</sup></label>
                    <input type="text" class="nDiscRatePer" formControlName="nAdRatePack"
                        [ngModelOptions]="{standalone: true}" pInputText>
                </div>
                <div class="p-md-3 p-pt-3">
                    <label>Discount(%)</label>
                    <input type="text" class="nDiscRatePer" (input)="inputDiscount()" formControlName="nPackDiscPer"
                        [ngModelOptions]="{standalone: true}" pInputText>
                </div>
                <div class="p-md-3 p-pt-3">
                    <label>Net Rate<sup *ngIf="!isDisableProcesurItem">*</sup></label>
                    <input type="text" class="nDiscRatePer" formControlName="aftrnDiscRate"
                        [ngModelOptions]="{standalone: true}" pInputText>
                </div>
                <!-- <div class="p-md-4 p-pt-3">
                        <label>Customer(if any)<sup>*</sup></label>
                        <p-dropdown appendTo="body" #dd [filter]="true" [showClear]="true" class="emp-ddown"
                        [placeholder]="jobManageForm.get('cCustNm').value ? jobManageForm.get('cCustNm').value :'Select Customer'"
                                 (onChange)="selectCustomer($event, dd)"
                                [options]="filteredCustomers" optionLabel="cDisplayNm"
                                formControlName="cCustNm" optionValue="cDisplayNm" (onChange)="selectCustomer($event, patientSelect)"></p-dropdown>

                            <p-button class="btn-add emp-addp cust-add" (click)="addCustomer()" icon="pi pi-plus">
                            </p-button>
                    </div> -->
                <div class="p-md-4 p-pt-3">
                    <label>Patient(if any)<sup>*</sup></label>
                    <p-dropdown appendTo="body" #patientSelect [autoDisplayFirst]="false" [filter]="true"
                        [showClear]="true" class="emp-ddown"
                        [placeholder]="jobManageForm.get('nCustid').value ? jobManageForm.get('nCustid').value :'Select Patient'"
                        [options]="patientData" optionLabel="cPatientNm" optionValue="cPatientNm"
                        formControlName="cPatientNm" (onChange)="selectPatient($event, patientSelect)">
                        <ng-template let-patient pTemplate="item">
                            <div class="country-item">
                                <div>{{patient.cPatientNm}} ({{patient.cAccHolder}})</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <!-- <p-dropdown appendTo="body" [filter]="true" [showClear]="true" class="emp-ddown"
                                placeholder="Select Patient" [options]="patientData" optionLabel="cPatientNm"
                                formControlName="nPatientid" optionValue="nPatientid"></p-dropdown>  *ngIf="customerAccountId != null" -->

                    <p-button class="btn-add emp-addp cust-add" (click)="addPatientdata()" icon="pi pi-plus">
                    </p-button>
                </div>
                <div class="p-md-5 p-pt-3">
                    <label>Address<sup>*</sup></label>
                    <p-dropdown appendTo="body" #address placeholder="Select Address"
                        [placeholder]="jobManageForm.get('address').value ? jobManageForm.get('address').value :'Select Address'"
                        [options]="addressData" optionLabel="address" optionValue="address"
                        [ngModelOptions]="{standalone: true}" formControlName="address"
                        (onChange)="seleceAddress($event, address)"></p-dropdown>
                </div>
            </div>
        </form>
    </div>
    <div class="main-box" *ngIf="stepForm === 2">
        <form [formGroup]="serviceSkillsForm" (ngSubmit)="onSubmitServiceSkills()">
            <div class="p-grid p-nogutter">
                <div class="p-md-4">
                    <label>Service Skills<sup>*</sup></label>
                    <p-dropdown appendTo="body" [disabled]="isDisableProcesurItem && formData.srvSkills.length ==1"
                        #srvSkillItem placeholder="Select Service Skill" [options]="srvSkillsData"
                        optionLabel="srvSkillName" optionValue="srvSkillName"
                        (onChange)="selectServiceSkill($event, srvSkillItem)" formControlName="srvSkill"></p-dropdown>
                </div>
                <div class="p-md-4">
                    <label>Rate(unit)<sup *ngIf="!isDisableProcesurItem">*</sup></label>
                    <p-dropdown appendTo="body" #nRateId placeholder="Select Unit" [disabled]="isDisableProcesurItem"
                        [options]="rateData" optionLabel="name" formControlName="RateUnitName"
                        (onChange)="selectUnitRate($event, nRateId)" optionValue="rentUnitName"></p-dropdown>
                </div>
                <div class="p-md-2">
                    <label>Discount(%)</label>
                    <input type="text" class="nDiscRatePer" [attr.disabled]="isDisableProcesurItem == true?true:null"
                        formControlName="nDiscRatePer" [ngModelOptions]="{standalone: true}" pInputText>
                </div>
                <div class="p-md-2">
                    <label>Total</label>
                    <input type="text" disabled class="reptfrq" formControlName="nadRate"
                        [ngModelOptions]="{standalone: true}" pInputText>
                </div>
                <div class="p-md-4">
                    <label>Frequency<sup>*</sup></label>
                    <p-dropdown appendTo="body" #frequencyName placeholder="Select Frequency" [options]="manageService"
                        formControlName="nJobFrq" (onChange)="selectFrequency($event, frequencyName)" optionLabel="name"
                        optionValue="code" inputId="frquncy">
                    </p-dropdown>
                </div>
                <div class="p-md-2">
                    <label>Repeats on every</label>
                    <input type="text" formControlName="nFrqQty" class="reptfrq" pInputText>
                </div>
                <div class="p-md-3">
                    <label>Scheduled Mode<sup>*</sup></label>
                    <p-dropdown appendTo="body" formControlName="timeType" #timeType
                        (onChange)="selectScheduledMode($event, timeType)" placeholder="Select Start Time"
                        [options]="StartTimeddl" optionLabel="name" optionValue="name" inputId="frquncy"
                        [ngModelOptions]="{standalone: true}">
                    </p-dropdown>
                </div>
                <div class="p-md-2">
                    <label>Start time</label>
                    <input type="time" [attr.disabled]="serviceSkillsForm.get('timeType').value != 'Custom'?true:null "
                        formControlName="dStartTm" class="form-control-number" pInputText>
                    <!-- <p-calendar [timeOnly]="true" [disabled]="serviceSkillsForm.get('timeType').value != 'Custom' "
                            inputId="timeonly" formControlName="dStartTm" timeFormat="HH:mm" [ngModelOptions]="{standalone: true}">
                        </p-calendar> -->
                </div>
                <div class="p-md-1">
                    <label>&nbsp;</label>
                    <ng-container>
                        <button pButton [disabled]="serviceSkillsForm.invalid && selectedPackage" type="submit"
                            label="Add"></button>
                    </ng-container>

                </div>
            </div>
        </form>
        <div class="p-grid p-nogutter">
            <div class="p-md-12">
                <p-table [value]="formData.srvSkills">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>SNo.</th>
                            <th>Service Skill</th>
                            <th>Rate(Unit)</th>
                            <th>Discount(%)</th>
                            <th>Total</th>
                            <th>Frequency</th>
                            <th>FrqQty</th>
                            <th>StartTime</th>
                            <th *ngIf="!selectedPackage">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{item.srvSkill}}</td>
                            <td>{{item.rate}}-{{item.unitName}}</td>
                            <td>{{item.nDiscRatePer}}</td>
                            <td>{{item.rate - item.rate*item.nDiscRatePer/100}}</td>
                            <td>{{matchFrequency(item.nJobFrq)?.name}}</td>
                            <td>{{item.nFrqQty}}</td>
                            <td>{{item.dStartTm}}</td>
                            <td *ngIf="!selectedPackage"><p-button icon="pi pi-trash"
                                    class="p-button-raised p-button-danger"
                                    (click)="deleteServiceSkills(rowIndex)"></p-button></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr *ngIf="isSkillItemMinOne">
                            <td style="text-align: center;" colspan="9">Add minimum one skill</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>


    </div>
    <div class="main-box service-points" *ngIf="stepForm === 3">
        <form [formGroup]="servicePointsForm" (ngSubmit)="onSubmitKitPoint()">
            <div class="p-grid p-nogutter">
                <div class="p-md-3">
                    <label>Select Procedure(s)<sup>*</sup></label>
                    <p-dropdown [disabled]="jobManageForm.get('nBillMode').value != 125" appendTo="body" #servPoint
                        placeholder="Select Service" [options]="servicePointList"
                        (onChange)="selectServivePoints($event, servPoint)" optionLabel="srvPointName"
                        optionValue="srvPointName" formControlName="cSrvPointNm"></p-dropdown>
                </div>
                <div class="p-md-2">
                    <label>Rate(unit)<sup>*</sup></label>
                    <p-dropdown [disabled]="jobManageForm.get('nBillMode').value != 125" #pointRateUnit appendTo="body"
                        placeholder="Select Unit" [options]="pointRateUnitList" optionLabel="name"
                        optionValue="nSkillID" formControlName="nSrvPointid"
                        (onChange)="selectPointRateUnit($event, pointRateUnit)"></p-dropdown>
                </div>
                <div class="p-md-1">
                    <label>&nbsp;</label>
                    <button pButton [disabled]="(servicePointsForm.invalid || jobManageForm.get('nBillMode').value != 125)
                        && selectedPackage" type="submit" label="Add"></button>
                </div>
            </div>
        </form>
        <div class="p-grid p-nogutter">
            <div class="p-md-12">
                <p-table [value]="formData.srvPoints">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>SNo.</th>
                            <th>Type</th>
                            <th>Item/Service Point</th>
                            <th>Price(Unit)</th>
                            <th>Price Disc(%)</th>
                            <th>Amount</th>
                            <th *ngIf="!selectedPackage">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{item.cSrvType}}</td>
                            <td>{{item.cSrvPointNm}}</td>
                            <td>{{item.rate}}-{{item.unitName}}</td>
                            <td>
                                <input type="text" [(ngModel)]="item.nDiscRatePer" class="reptfrq" pInputText>
                            </td>
                            <td>{{amountCalculation(item.rate, item.nDiscRatePer, rowIndex)}}</td>
                            <td *ngIf="!selectedPackage">
                                <p-button icon="pi pi-trash" class="p-button-raised p-button-danger"
                                    (click)="deleteServicePoint(rowIndex)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr *ngIf="jobManageForm.get('nBillMode').value != 125">
                            <td style="text-align: center;" colspan="7">This is not required</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="main-box" *ngIf="stepForm === 4">
        <form [formGroup]="serviceItemForm" (ngSubmit)="onSubmitServiceItem()">
            <div class="p-grid p-nogutter">
                <div class="p-md-3">
                    <label>Select Item(s)<sup>*</sup></label>
                    <p-dropdown appendTo="body" #srvSkill placeholder="Select Service" [options]="serviceTypeList"
                        (onChange)="selectServiveItem($event, srvSkill)" optionLabel="itemName" optionValue="itemName"
                        formControlName="srvSkill">
                    </p-dropdown>
                </div>
                <div class="p-md-2">
                    <label>Rate(unit)<sup>*</sup></label>
                    <p-dropdown #skillItemRate appendTo="body" placeholder="Select Unit" formControlName="nRateName"
                        [options]="servicePointRateData" optionLabel="name" optionValue="name"
                        (onChange)="selectRateUnit($event, skillItemRate)">
                    </p-dropdown>
                </div>
                <div class="p-md-1">
                    <label>&nbsp;</label>
                    <button pButton [disabled]="serviceItemForm.invalid && selectedPackage" type="submit"
                        label="Add"></button>
                </div>
            </div>
        </form>
        <div class="p-grid p-nogutter">
            <div class="p-md-12">
                <p-table [value]="formData.srvItems">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>SNo.</th>
                            <th>Item/Service Point</th>
                            <th>Price(Unit)</th>
                            <th>Price Disc(%)</th>
                            <th>Amount</th>
                            <th>Sec. Deposit</th>
                            <th>Sec. Disc(%)</th>
                            <th>Total</th>
                            <th>Inst. Charges</th>
                            <th *ngIf="!selectedPackage">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                        <tr>
                            <td>{{rowIndex+1}}</td>
                            <td>{{item.item}}</td>
                            <td>{{item.rate}}-{{item.unitName}}</td>
                            <td>
                                <input type="text" (ngModelChange)="servItemDiscount($event, item.rate, rowIndex)"
                                    [(ngModel)]="item.nDiscRatePer" class="reptfrq" pInputText>
                            </td>
                            <td>
                                {{discountCalculation(item.rate, item.nDiscRatePer, rowIndex).nadRate}}
                            </td>
                            <td>{{item.nSecurity}}</td>
                            <td><input type="text"
                                    (ngModelChange)="servnSecurityDiscount($event, item.nSecurity, rowIndex)"
                                    [(ngModel)]="item.nDiscPerSec" class="reptfrq" pInputText></td>
                            <td>{{amountCalculation(item.nSecurity, item.nDiscPerSec, rowIndex)}}</td>
                            <td><input type="text" [(ngModel)]="item.nInstallationCharge" class="reptfrq" pInputText>
                            </td>
                            <td *ngIf="!selectedPackage">
                                <p-button icon="pi pi-trash" class="p-button-raised p-button-danger"
                                    (click)="deleteServiceItem(rowIndex, item)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <ng-container *ngIf="formData.consumableItems.length > 0">
            <p style="margin-bottom: 0px; padding-left: 8px;"><strong>Supporting Item</strong></p>
            <div class="p-grid p-nogutter">
                <div class="p-md-12">
                    <p-table [value]="formData.consumableItems">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>SNo.</th>
                                <th>Item name</th>
                                <th>Rate</th>
                                <th>Discount(%)</th>
                                <th>Total</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td>{{item.item}}</td>
                                <td>{{item.rate}}</td>
                                <td>
                                    <input type="text" [(ngModel)]="item.nDiscRatePer"
                                        (ngModelChange)="servSupportingDiscount($event, item.rate, rowIndex)"
                                        class="reptfrq" pInputText>
                                </td>
                                <td>{{item.rate - (item.rate*item.nDiscRatePer/100)}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="main-box service-points" *ngIf="stepForm === 5 && jobApprovalView">
        <ng-container>
            <p style="margin-bottom: 0px; padding-left: 8px;"><strong>Job Info</strong></p>
            <div class="p-grid p-nogutter">
                <div class="p-md-3">
                    <span class="d-block">Job Start Date</span>
                    <span class="d-block"><strong>{{jobManageForm.get('dJobDate').value | date: 'dd/MM/yyyy'
                            }}</strong></span>
                </div>
                <div class="p-md-3">
                    <span class="d-block">Job End Date</span>
                    <span class="d-block"><strong>{{jobManageForm.get('dJobSrvEnd').value | date:
                            'dd/MM/yyyy'}}</strong></span>
                </div>
                <div class="p-md-3">
                    <span class="d-block">Total Serving Days</span>
                    <span class="d-block"><strong>{{differsDays(jobManageForm.get('dJobDate').value,
                            jobManageForm.get('dJobSrvEnd').value)}} Days</strong></span>
                </div>
                <div class="p-md-3">
                    <span class="d-block">Services</span>
                    <span class="d-block"><strong>{{jobManageForm.get('srvName').value}}</strong></span>
                </div>
                <div class="p-md-3">
                    <span class="d-block">Billing Mode</span>
                    <span class="d-block"><strong>{{jobManageForm.get('billMode').value}}</strong></span>
                </div>
                <div class="p-md-3">
                    <span class="d-block">Customer</span>
                    <span class="d-block"><strong>{{jobManageForm.get('cCustNm').value}}</strong></span>
                </div>
                <div class="p-md-3">
                    <span class="d-block">Patient</span>
                    <span class="d-block"><strong>{{jobManageForm.get('patient').value}}</strong></span>
                </div>
                <div class="p-md-3">
                    <span class="d-block">Address</span>
                    <span class="d-block"
                        style="max-width:250px;"><strong>{{jobManageForm.get('address').value}}</strong></span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="formData.srvSkills.length > 0">
            <p style="margin-bottom: 0px; padding-left: 8px;"><strong>Service Skills</strong></p>
            <div class="p-grid p-nogutter">
                <div class="p-md-12">
                    <p-table [value]="formData.srvSkills">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 70px;">SNo.</th>
                                <th>Service Skill</th>
                                <th>Rate(Unit)</th>
                                <th>Discount(%)</th>
                                <th>Total</th>
                                <th>Frequency</th>
                                <th>FrqQty</th>
                                <th>StartTime</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td>{{item.srvSkill}}</td>
                                <td>{{item.rate}}-{{item.unitName}}</td>
                                <td>{{item.nDiscRatePer}}</td>
                                <td>{{item.rate - item.rate*item.nDiscRatePer/100}}</td>
                                <td>{{matchFrequency(item.nJobFrq)?.name}}</td>
                                <td>{{item.nFrqQty}}</td>
                                <td>{{item.dStartTm}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td style="text-align: right;" colspan="7">Total Service Skills:-</td>
                                <td>{{totalSkillsPrice(formData.srvSkills)}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="formData.srvPoints.length > 0">
            <p style="margin-bottom: 0px; padding-left: 8px;"><strong>Clinical Procedures</strong></p>
            <div class="p-grid p-nogutter">
                <div class="p-md-12">
                    <p-table [value]="formData.srvPoints">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 70px;">SNo.</th>
                                <th style="width: 200px;">Item/Service Point</th>
                                <th>Price(Unit)</th>
                                <th>Price Disc(%)</th>
                                <th>Amount</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td>{{item.cSrvPointNm}}</td>
                                <td>{{item.rate}}-{{item.unitName}}</td>
                                <td>
                                    {{item.nDiscRatePer}}
                                </td>
                                <td>{{amountCalculation(item.rate, item.nDiscRatePer, rowIndex)}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td style="text-align: right;" colspan="4">Total Clinical Procedures:-</td>
                                <td>{{totalClinicalProcedures(formData.srvPoints)}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="formData.srvItems.length > 0">
            <p style="margin-bottom: 0px; padding-left: 8px;"><strong>Equipment</strong></p>
            <div class="p-grid p-nogutter">
                <div class="p-md-12">
                    <p-table [value]="formData.srvItems">

                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 70px;">SNo.</th>
                                <th style="width: 200px;">Item/Service Point</th>
                                <th>Price(Unit)</th>
                                <th>Price Disc(%)</th>
                                <th>Amount</th>
                                <th>Sec. Deposit</th>
                                <th>Sec. Disc(%)</th>
                                <th>Total</th>
                                <th>Inst. Charges</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td>{{item.item}}</td>
                                <td>{{item.rate}}-{{item.unitName}}</td>
                                <td>
                                    {{item.nDiscRatePer}}
                                </td>
                                <td>{{amountCalculation(item.rate, item.nDiscRatePer, rowIndex)}}</td>
                                <td>{{item.nSecurity}}</td>
                                <td>{{item.nDiscPerSec}}</td>
                                <td>{{amountCalculation(item.nSecurity, item.nDiscPerSec, rowIndex)}}</td>
                                <td>{{item.nInstallationCharge}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td style="text-align: right;" colspan="8">Total Equipment:-</td>
                                <td>{{totalEquipmentPrice(formData.srvItems)}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="formData.consumableItems.length > 0">
            <p style="margin-bottom: 0px; padding-left: 8px;"><strong>Consumable</strong></p>
            <div class="p-grid p-nogutter">
                <div class="p-md-12">
                    <p-table [value]="formData.consumableItems">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 70px;">SNo.</th>
                                <th style="width: 200px;">Item name</th>
                                <th>Rate</th>
                                <th>Discount(%)</th>
                                <th>Total</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                            <tr>
                                <td>{{rowIndex+1}}</td>
                                <td>{{item.item}}</td>
                                <td>{{item.rate}}</td>
                                <td>
                                    {{item.nDiscRatePer}}
                                </td>
                                <td>{{item.rate - (item.rate*item.nDiscRatePer/100)}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td style="text-align: right;" colspan="4">Total:-</td>
                                <td>{{totalSupportingPrice(formData.consumableItems)}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-container>


        <form [formGroup]="jobApprovalForm" (ngSubmit)="onSubmitJobApproval()">
            <div class="p-grid p-nogutter">
                <div class="p-md-3">
                    <label>Total Payable</label>
                    <span class="d-block">
                        <strong>{{totalPayableAddition(totalSupportingPrice(formData.consumableItems),
                            totalEquipmentPrice(formData.srvItems), totalSkillsPrice(formData.srvSkills),
                            totalClinicalProcedures(formData.srvPoints))}}</strong>
                    </span>

                    <!-- <input disabled type="text" [value]="totalPayableAmount"  class="reptfrq" pInputText> -->
                </div>
                <div class="p-md-3">
                    <label>Security Deposit(Actual)</label>
                    <span class="d-block">
                        <strong>{{actualSecurityDeposit(totalClinicalActualSecAmount,totalActualEquipmentSecAmount)}}</strong>
                    </span>
                </div>
                <div class="p-md-3">
                    <label>Security Deposit (payable)</label>
                    <span class="d-block">
                        <strong>{{payableSecurityDeposit(totalEquipmentSecAmount,totalClinicalSecAmount)}}</strong>
                    </span>
                </div>
                <div class="p-md-3">
                    <label>Installation Charges</label>
                    <span class="d-block">
                        <strong>{{totalinstallationCharge}}</strong>
                    </span>
                </div>
                <div class="p-md-2">
                    <label>Delivery Charges</label>
                    <input type="number" formControlName="nDeliveryCharge" class="reptfrq form-control-number"
                        pInputText>
                </div>
                <div class="p-md-2">
                    <label>Total</label>
                    <span class="d-block">
                        <strong>{{(totalPayableAmountData+totalPayableEquipmentSecAmount+totalinstallationCharge +
                            jobApprovalForm.get('nDeliveryCharge').value)}}</strong>
                    </span>
                </div>
                <div class="p-md-2">
                    <label>Services(Advance)</label>
                    <input type="number" min="{{minmumPaybuleAmount}}" formControlName="nAdvanceAmt"
                        (change)="changeAdvanceAmt($event)"
                        value="{{(totalPayableAmountData+totalPayableEquipmentSecAmount+totalinstallationCharge + jobApprovalForm.get('nDeliveryCharge').value)}}"
                        class="reptfrq form-control-number" pInputText>
                </div>

                <div class="p-md-3">
                    <label>Mode of Payment</label>
                    <p-dropdown #paymentMode appendTo="body" placeholder="Prepaid" [options]="paymentModeList"
                        formControlName="modeOfPaymentD" optionLabel="name" optionValue="value"
                        (onChange)="modeOfPayment($event, paymentMode)">
                    </p-dropdown>
                </div>
                <div class="p-md-3">
                    <label>Item Delivery</label>
                    <p-dropdown #itemOfDelivery2 appendTo="body" placeholder="Not Permitted" [options]="permittedData"
                        formControlName="itemDelivery" optionLabel="name" optionValue="value"
                        (onChange)="itemOfDelivery($event, itemOfDelivery2)">
                    </p-dropdown>
                </div>
            </div>
        </form>
    </div>


    <div class="button-section" *ngIf="!jobView">
        <div class="p-grid p-nogutter">
            <div class="p-md-6 p-pt-3">
                <ng-container *ngIf="stepForm < 5">
                    <button [disabled]="stepForm === 1" pButton type="button" (click)="backForm()"
                        label="Back"></button>
                </ng-container>
                <ng-container *ngIf="stepForm === 5 && jobApprovalView">
                    <button [disabled]="stepForm === 1" pButton type="button" (click)="editJob()" label="Edit"></button>
                </ng-container>
            </div>
            <div class="p-md-6 p-text-right p-pt-3">
                <button *ngIf="stepForm === 1" pButton type="button" [disabled]="jobManageForm.invalid"
                    (click)="nextForm(2); onSubmitJobManage()" label="Next"></button>
                <button *ngIf="stepForm === 2" pButton type="button" [disabled]="isSkillItemMinOne"
                    (click)="nextForm(3)" label="Next"></button>
                <button *ngIf="stepForm === 3" pButton type="button" (click)="nextForm(4)" label="Next"></button>
                <ng-container *ngIf="stepForm === 4 && !jobApprovalView">
                    <button *ngIf="stepForm === 4" pButton type="button" (click)="submitForm()" label="Save"></button>
                </ng-container>
                <ng-container *ngIf="stepForm === 4 && jobApprovalView">
                    <button *ngIf="stepForm === 4" pButton type="button" (click)="nextForm(5)" label="Next"></button>
                </ng-container>

                <ng-container *ngIf="stepForm === 5 && jobApprovalView">
                    <button class="p-mr-2" *ngIf="stepForm === 5" pButton type="button" (click)="submitApprove()"
                        label="Approve"></button>
                    <button *ngIf="stepForm === 5" pButton type="button" (click)="submitReject()"
                        label="Reject"></button>
                </ng-container>
            </div>
        </div>

    </div>

</div>
<div *ngIf="AddPatient">
    <form *ngIf="!newCustomer" [formGroup]="patientForm" (ngSubmit)="onSubmitPatient()">
        <div class="p-grid p-nogutter">
            <div class="p-md-4 p-1">
                <label>Customer Name<sup>*</sup></label>
                <p-dropdown appendTo="body" [autoDisplayFirst]="false" [filter]="true" class="emp-ddown"
                    [placeholder]="'Select Customer'" [options]="CustomerList" optionLabel="nCustid"
                    optionValue="nCustid" formControlName="nCustid">
                    <ng-template let-patient pTemplate="item">
                        <div class="country-item">
                            <div>{{patient.cLedgerNm}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <p-button class="btn-add emp-addp cust-add" (click)="addCustomerData()" icon="pi pi-plus">
                </p-button>
            </div>

            <div class="p-md-4 p-1">
                <label>Patient Name<sup>*</sup></label>
                <input type="text" formControlName="cPatientNm" class="form-control" pInputText
                    placeholder="Patient Name" />
            </div>
            <div class="p-md-4 p-1">
                <label>Age<sup>*</sup></label>
                <input type="text" formControlName="nAge" class="form-control" (keypress)="handleInput($event)"
                    pInputText placeholder="Age" />
            </div>
            <div class="p-md-4 p-1">
                <label>Gender<sup>*</sup></label>
                <p-dropdown appendTo="body" formControlName="cSex" [placeholder]="'Select Gender'"
                    [options]="listOfGender" optionLabel="name" optionValue="value">
                </p-dropdown>
            </div>
            <div class="p-md-4 p-1">
                <label>Height<sup>*</sup></label>
                <input type="text" formControlName="nHeight" class="form-control" (keypress)="handleInput($event)"
                    pInputText placeholder="Height" />
                <p-message-error class="errMsg" text="Message Content"
                    *ngIf="f.nHeight.touched && f.nHeight.invalid">Height should be between 0 to 10</p-message-error>
            </div>
            <div class="p-md-4 p-1">
                <label>Weight<sup>*</sup></label>
                <input type="text" formControlName="nWeight" class="form-control" (keypress)="handleInput($event)"
                    pInputText placeholder="Weight" />
                <p-message-error class="errMsg" text="Message Content"
                    *ngIf="f.nWeight.touched && f.nWeight.invalid">Weight should be between 1 to 400</p-message-error>
            </div>
            <div class="p-md-4 p-1">
                <label>Diagnosis<sup>*</sup></label>
                <p-dropdown class="emp-ddown" appendTo="body" #selectItem [placeholder]="'Select Diagnosis'"
                    [options]="listOfDiagnosis" optionLabel="codeName" optionValue="serialNo"
                    formControlName="nDiagnosis" (onChange)="selectDiagnosis($event, selectItem)">
                </p-dropdown>
                <p-button class="btn-add emp-addp cust-add" (click)="addDiagnosis()" icon="pi pi-plus">
                </p-button>
            </div>
            <div class="p-md-12 p-1">
                <p-button type="submit" label="Save"></p-button>
            </div>



        </div>

    </form>
    <form *ngIf="newCustomer" [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
        <div class="p-grid">
            <div class="p-md-4 p-1">
                <label>Customer Name<sup>*</sup></label>
                <input type="text" formControlName="cLedgerNm" class="form-control" pInputText
                    placeholder="Customer Name" />
            </div>
            <!-- <div  class="p-md-4 p-1">
                <label >Address</label>
                <input type="text" formControlName="cPatientNm" class="form-control" pInputText placeholder="Address" />
            </div> -->
            <div class="p-md-8 p-1" formArrayName="addresses">
                <ng-container *ngFor="let item of formArray.controls; let i = index">
                    <div class="p-grid" [formGroupName]="i">
                        <div class="p-1" [ngClass]="formArray.controls.length > 1 ? 'p-md-6':'p-md-6'">
                            <label>Address<sup>*</sup></label>
                            <input formControlName="address" type="text" pInputText placeholder="Address" />
                        </div>
                        <div class="p-md-6 p-1">
                            <label>Mobile No</label>
                            <input type="text" formControlName="cMobile" class="form-control"
                                (keypress)="handleInput($event)" pInputText placeholder="Mobile No" />
                            <!-- <p-message-error class="errMsg" text="Message Content" *ngIf="m.cMobile.touched && m.cMobile.invalid">Mobile number shouldbe 10 digit number</p-message-error> -->
                        </div>
                    </div>
                </ng-container>
            </div>


            <div class="p-md-12 p-1">
                <p-button type="submit" label="Save" [disabled]="!customerForm.valid"></p-button>
            </div>
        </div>
    </form>
</div>